.food-wap-sub16 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.333;
  color: #337102;
}
.food-wap {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.333;
  color: #797D76;
}
.desktop-1 .food-wap {
  margin-bottom: 26px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.desktop-1 .your-food-is-being-ordered-please-wait-patiently-for-your-call {
  margin-bottom: 190px;
  display: inline-block;
  align-self: flex-start;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 90px;
  color: #FFFFFF;
}
.desktop-1 .home {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 64px;
  color: #3C611E;
}
.desktop-1 .container-1 {
  border-radius: 46px;
  background: #D9D9D9;
  position: relative;
  margin-right: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 15px 0 12px 2.5px;
  width: 411px;
  box-sizing: border-box;
}
.desktop-1 .container {
  background: #337102;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 79px 0 215px 51.1px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 84px 0 0 85px;
  width: 1440px;
  box-sizing: border-box;
}
